#root {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
}

p:nth-of-type(1) {
  display: flex;
  justify-content: flex-end;
}